<center>
  <table
    align="center"
    border="0"
    cellpadding="0"
    cellspacing="0"
    height="100%"
    width="100%"
    id="bodyTable"
  >
    <tr>
      <td align="center" valign="top" id="bodyCell">
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          class="templateContainer"
        >
          <tr>
            <td valign="top" id="templateHeader">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnImageBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnImageBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      style="padding: 9px;"
                      class="mcnImageBlockInner"
                    >
                      <table
                        align="left"
                        width="100%"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mcnImageContentContainer"
                        style="min-width: 100%;"
                      >
                        <tbody>
                          <tr>
                            <td
                              class="mcnImageContent"
                              valign="top"
                              style="
                                padding-right: 9px;
                                padding-left: 9px;
                                padding-top: 0;
                                padding-bottom: 0;
                                text-align: center;
                              "
                            >
                              <img
                                align="center"
                                alt="logo_coop_sin_fondo.png"
                                src="domainIcon/logo_coop_sin_fondo.png"
                                width="445.55995178222656"
                                style="
                                  max-width: 1974px;
                                  padding-bottom: 0;
                                  display: inline !important;
                                  vertical-align: bottom;
                                "
                                class="mcnImage"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" id="templateBody">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              <p>
                                Hello <strong>userName</strong><br />
                                <br />
                                Thank you for contacting us, we have received
                                your inquiry to the
                                <strong>Mi Tarjeta Coop®</strong>. Your query
                                submission code is &nbsp;<strong
                                  >inquiryID.</strong
                                ><br />
                                <br />
                                The credit union officer will contact you if
                                necessary. To follow up, you can also
                                contact:&nbsp;<br />
                                &nbsp;
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              <strong>Member Service Center</strong><br />
                              <br />
                              Attention from Monday to Sunday 24/7, throughout
                              the year.<br />
                              <br />
                              <img
                                data-file-id="2600031"
                                height="21"
                                src="domainIcon/phone.png"
                                width="25"
                              />&nbsp; &nbsp;<strong>787 641 2310&nbsp;</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnDividerBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td
                      class="mcnDividerBlockInner"
                      style="min-width: 100%; padding: 18px;"
                    >
                      <table
                        class="mcnDividerContent"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          min-width: 100%;
                          border-top-width: 2px;
                          border-top-style: solid;
                          border-top-color: #eaeaea;
                        "
                      >
                        <tbody>
                          <tr>
                            <td><span></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              Cooperative/Finantial Institution<br />
                              <strong>finantialInstitution</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnDividerBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td
                      class="mcnDividerBlockInner"
                      style="min-width: 100%; padding: 18px;"
                    >
                      <table
                        class="mcnDividerContent"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                          min-width: 100%;
                          border-top-width: 2px;
                          border-top-style: solid;
                          border-top-color: #eaeaea;
                        "
                      >
                        <tbody>
                          <tr>
                            <td><span></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              Inquiry reason<br />
                              subject
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            ></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              Message<br />
                              message
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            ></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" id="templateFooter">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              <div style="text-align: left;">
                                <br />
                                Regards<br />
                                &nbsp;
                              </div>
                              <div style="text-align: left;">
                                <strong>Mi tarjeta COOP®&nbsp;</strong
                                ><strong
                                  >| Aplicación móvil para tarjetas de
                                  crédito</strong
                                >
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnDividerBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td
                      class="mcnDividerBlockInner"
                      style="min-width: 100%; padding: 18px;"
                    >
                      <table
                        class="mcnDividerContent"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="min-width: 100%; border-top: 2px solid #eaeaea;"
                      >
                        <tbody>
                          <tr>
                            <td><span></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnImageBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnImageBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      style="padding: 9px;"
                      class="mcnImageBlockInner"
                    >
                      <table
                        align="left"
                        width="100%"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        class="mcnImageContentContainer"
                        style="min-width: 100%;"
                      >
                        <tbody>
                          <tr>
                            <td
                              class="mcnImageContent"
                              valign="top"
                              style="
                                padding-right: 9px;
                                padding-left: 9px;
                                padding-top: 0;
                                padding-bottom: 0;
                              "
                            >
                              <img
                                align="left"
                                alt="imagen_footer_separador_sin_fondo.png"
                                src="domainIcon/imagen_footer_separador_sin_fondo.png"
                                width="152.28"
                                style="
                                  max-width: 568px;
                                  padding-bottom: 0px;
                                  vertical-align: bottom;
                                  display: inline !important;
                                  border-top-left-radius: 4%;
                                  border-top-right-radius: 4%;
                                  border-bottom-right-radius: 4%;
                                  border-bottom-left-radius: 4%;
                                "
                                class="mcnImage"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnTextBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td
                      valign="top"
                      class="mcnTextBlockInner"
                      style="padding-top: 9px;"
                    >
                      <table
                        align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 100%; min-width: 100%;"
                        width="100%"
                        class="mcnTextContentContainer"
                      >
                        <tbody>
                          <tr>
                            <td
                              valign="top"
                              class="mcnTextContent"
                              style="
                                padding-top: 0;
                                padding-right: 18px;
                                padding-bottom: 9px;
                                padding-left: 18px;
                              "
                            >
                              <div style="text-align: left;">
                                <br />
                                <br />
                                <strong
                                  ><span style="color: #006699;"
                                    ><a
                                      href="domainIcon/privacy_policies_en.html"
                                      target="_blank"
                                      >Privacy Policy</a
                                    ></span
                                  ></strong
                                ><br />
                                <br />
                                “Este envío es confidencial y está destinado
                                únicamente a la persona a la que ha sido
                                enviado. Puede contener información privada y
                                confidencial. Si usted no es el destinatario al
                                que ha sido remitida, no puede copiarla,
                                distribuirla ni emprender con ella ningún tipo
                                de acción. Si cree que lo ha recibido por error,
                                por favor, notifíquelo al remitente.<br />
                                <br />
                                This transmission is confidential and intended
                                solely for the person to whom it is addressed.
                                It may contain privileged and confidential
                                information. If you are not the intended
                                recipient, you should not copy, distribute or
                                take any action in reliance on it. If you
                                believe that you have received this transmission
                                in error, please notify the sender”.<br />
                                &nbsp;<br />
                                &nbsp;
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                class="mcnDividerBlock"
                style="min-width: 100%;"
              >
                <tbody class="mcnDividerBlockOuter">
                  <tr>
                    <td
                      class="mcnDividerBlockInner"
                      style="min-width: 100%; padding: 10px 18px 25px;"
                    >
                      <table
                        class="mcnDividerContent"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="min-width: 100%; border-top: 2px solid #eeeeee;"
                      >
                        <tbody>
                          <tr>
                            <td><span></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
