<div class="autoscroll">
  <account-created-user [hidden]="false"></account-created-user>
  <hr />
  <bank-claim [hidden]="false"></bank-claim>
  <hr />
  <card-activation [hidden]="false"></card-activation>
  <hr />
  <login-attempts [hidden]="false"></login-attempts>
  <hr />
  <user-claims [hidden]="false"></user-claims>
  <hr />
  <welcome-user [hidden]="false"></welcome-user>
  <hr />
  <contact-us [hidden]="false"></contact-us>
  <hr />
  <terms-and-conditions [hidden]="false"></terms-and-conditions>
</div>
